/** @format */

.skill-card {
    padding: 20px;
    margin: 10px;
    min-width: 10em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}
.skill-card.disabled {
    /* box-shadow: none; */
    filter: grayscale(100%);
    cursor: not-allowed;
}

.skill-card:active,
.skill-card:hover,
.skill-card:focus,
.skill-card.clicked {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.44);
}

.skill-card.disabled:active,
.skill-card.disabled:hover,
.skill-card.disabled:focus,
.skill-card.disabled.clicked {
    box-shadow: none;
}

.skill-card:active .skill-card__header .skill-card__icon,
.skill-card:hover .skill-card__header .skill-card__icon,
.skill-card:focus .skill-card__header .skill-card__icon,
.skill-card.clicked .skill-card__header .skill-card__icon {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
    transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card .skill-card__header {
    position: relative;
    background-color: #eb6c3f;
    height: 14vh;
    margin: -20px -20px 20px -20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    overflow: hidden;
}

.skill-card.disabled .skill-card__header {
    /* background-color: #eb6c3f; */
    filter: grayscale(100%);
    cursor: not-allowed;
}
.skill-card .skill-card__header .skill-card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    display: block;
    width: 128px;
    height: 128px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.skill-card .skill-card__body {
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
}
.skill-card .skill-card__body .skill-card__duration {
    color: #9e9e9e;
    font-style: italic;
}
