/** @format */

/* * {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

div {
    display: block;
} */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEE;
    /* overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
